<% include ../partials/boilerplate %>

<form method="POST" action="/tasks">
  <input type="text" name="title" placeholder="Title" />
  <input type="number" name="status" placeholder="Status" />
  <input type="text" name="category" placeholder="Category" />
  <input type="text" name="description" placeholder="Description" />
  <input type="submit" value="Add Task" />
</form>

<% include ../partials/end %>
